<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SuperSpam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperSpam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SuperSpam.Properties.Settings>
            <setting name="EngineSnelheid" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Engine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="last_tab" serializeAs="String">
                <value>1</value>
            </setting>
        </SuperSpam.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SuperSpam.Properties.Settings>
            <setting name="BetaKey" serializeAs="String">
                <value>t4EpSJid-7UDegvSS-yB5E5eqK-6e9BedBa-SHFCjz59-qL6yzygQ-5eJqDwG8-cvEDcpid </value>
            </setting>
        </SuperSpam.Properties.Settings>
    </applicationSettings>
</configuration>
